ion-content {
    --background: #f7e7ce; /* Champán */
  }
  
  .job-list-container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .job-list {
    margin-top: 20px;
  }
  
  h2 {
    color: #3a3a3a;
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    color: #646464;
    font-size: 16px;
    line-height: 1.5;
  }
  
  ion-card {
    margin-bottom: 20px;
  }
  
  ion-card-header {
    background-color: #f1f1f1;
    border-radius: 8px 8px 0 0;
  }
  
  ion-card-title {
    font-size: 20px;
    color: #3a3a3a;
  }
  
  ion-card-subtitle {
    color: #6b6b6b;
    font-size: 16px;
  }
  
  ion-card-content p {
    color: #646464;
    font-size: 16px;
  }
  
  ion-button {
    --background: #D4AF37; /* Color dorado elegante */
    --background-activated: #c09533;
    --background-focused: #c09533;
    --background-hover: #c09533;
    color: #fff;
    font-weight: bold;
  }
  