<ion-content class="ion-padding" style="background-color: #f1f1f1;">
  <div class="menu-header">
    <h1>Ajustes y Opciones</h1>
    <p>Configura tu experiencia en Chamba Rápida</p>
  </div>

  <div class="menu-items">
    <ion-button expand="full" color="tertiary" class="menu-button" (click)="goToProfile()">
      Perfil de usuario
    </ion-button>
    <ion-button expand="full" color="tertiary" class="menu-button">
      Ayuda
    </ion-button>
    <ion-button expand="full" color="tertiary" class="menu-button" (click)="goToAbout()">
      Acerca de
    </ion-button>
    <ion-button expand="full" color="tertiary" class="menu-button" (click)="logout()">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
